@media(max-width:670px){
    width:700px
}


    
body{
    font_family:Arial,sans-serif;
    background-color:#87cefa;
    margin :100px;
    padding :100px;
    text-align:center;
}

h1{
    color:black;
    font_size: 100px;
}

h2{
    font_size:100px;
}

a{
    text-decoration:none;
    color:#e6e6fa;
}


li{
    list-style-type: none;
    color:#e6e6fa;
    background-color:#4682b4;
}

.ashita{
    color:blue;
    font-size: 50px;
}

.return{
    margin:100px;
    padding:100px;
}
